{% load dral_wagtail_tags %}

{% for chapter in vis_data.chapters %}
    <h2>{{ chapter.name }}</h2>
    <table class="viz-proof">
        {% for block in chapter.blocks %}
            <tr class="keyword">
                <td colspan="10">
                    {{block.keyword.string}}
                    ({{block.keyword.forms}})
                    ({{ block.freq }})
                </td>
            </tr>
            {% for lg in block.languages %}
                <tr class="lang-row lang-row-{{lg.name}}">
                    <td class="lang">{{lg.name}}</td>
                    {% for string in lg.strings %}
                        <td class="st {% if string is None %}string-none{% endif %} {% if string.0 == '?' %}string-unknown{% endif %}">{{ string|default:"ZERO" }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
            <tr class="sidxs">
                <td></td>
                {% for idx in block.sidxs %}
                    <td>{{ idx|default:"?" }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
{% endfor %}
