{% load dral_wagtail_tags %}

{# {text: "LT", ratio_omitted: 0, lemma: "PACKAGE", omitted: 0, freq: 3} #}
<div class="viz-introduction">
  {{ viz.short_description_html|safe }}
</div>

{% verbatim %}
  <div id="infobox">
      <template v-if="d.lemma">
          <div>
            Repeteme "{{ d.lemma }}"
            occurs {{ d.freq }} times in English
            and is omitted {{ d.omitted }} times ({{ d.omitted | percent(d.freq) }} %)
            in {{ d.text_label }}
          </div>
      </template>
  </div>

  <div class="charts-wrapper relative-omission-gn">
  </div>

  <div class="template chart-wrapper-template">
      <div class="chart-wrapper">
        <!-- h3>{{text}}</h3 -->
        <svg class="chart {{text_code}}" data-text="{{text_code}}">
        </svg>
      </div>
  </div>
{% endverbatim %}

<script>
    window.vis_data = {{ vis_data|json }};
    relative_omission();
</script>
