{% load dral_wagtail_tags %}

{# {language: "LT", ratio_omitted: 0, lemma: "PACKAGE", omitted: 0, freq: 3} #}
{% verbatim %}
    <div id="infobox">
        <template v-if="d.language">
            <div>
              Repeteme: {{ d.lemma }};
              Frequency (EN): {{ d.freq }};
              Omissions ({{ d.language }}): {{ d.omitted }} ({{ d.omitted_pc }} %);
            </div>
        </template>
    </div>

  <div class="svg-viz">
  </div>

  <div class="template viz-chart">
      <h3>{{language}}</h3>
      <svg class="chart {{language}}" data-language="{{language}}">
        <g></g>
        <rect class="overlay" width="100%" height="100%"></rect>
      </svg>
  </div>
{% endverbatim %}

<script>
    $(function() {

        window.vis_data = {{ vis_data|json }};

        $viz = $('.svg-viz');

        $.each(window.vis_data, function(lang, data) {
            $viz.append(apply_template(
                'viz-chart',
                {'language': lang}
            ));
            var $svg_group = $viz.find('g:last');

            var x = 0;

            // GF - Hacking my way in to account for bar borders in the css
            //      width was 100.0 / this.length
            var width = 103.0 / this.length;
            var width_rounded = round(width);

            $.each(data, function(i, d) {
                var height_rounded = round(d.ratio_omitted * 100);

                var omitted_class = (d.ratio_omitted == 1) ? 'omitted' : '';

                var rect = d3.select($svg_group[0])
                .append('rect')
                .attr('class', 'bar ' + omitted_class)
                .attr('height', height_rounded + '%')
                .attr('width', width_rounded + '%')
                .attr('x', round(x) + '%')
                // To display aligned at the bottom:
                // .attr('y', 500 - height)
                .text(''+ d.lemma+': ' + d.omitted + '/' + d.freq);

                x += width;
            });

            // mouseover
            // We don't attach an event to every bar:
            // a) that would be prohibitive
            // b) user couldn't select lemma without omissions (0-height bar)
            // See https://bl.ocks.org/mbostock/3902569
            d3.select($viz.find('rect.overlay:last')[0]).on(
                'mousemove', function() {
                    var xm = d3.mouse(this)[0];
                    // TODO: better way to get the index from mouse coord
                    var x0 = 0, x1 = $svg_group.parent().width();
                    var idx = Math.floor(xm / (x1 - x0) * data.length);
                    data[idx]['omitted_pc'] = (data[idx]['ratio_omitted'] * 100.0).toFixed(1);
                    infobox_dict(data[idx]);

                    // d3.select('rect.overlay')
                    //   .attr('fill', 'orange')
                    //   .attr('opacity', '0.3')
                    //   .attr('class', 'showme');

                    d3.select($viz.find('svg.chart')[0])
                      .append('line')
                        .attr('x1', xm)
                        .attr('x2', xm)
                        .attr('y1', '100')
                        .attr('y2', '500')
                        .attr('stroke', 'black');

                    d3.select($viz.find('svg.chart')[1])
                      .append('line')
                        .attr('x1', xm)
                        .attr('x2', xm)
                        .attr('y1', '100')
                        .attr('y2', '500')
                        .attr('stroke', 'black');

                    d3.select($viz.find('svg.chart')[2])
                      .append('line')
                        .attr('x1', xm)
                        .attr('x2', xm)
                        .attr('y1', '100')
                        .attr('y2', '500')
                        .attr('stroke', 'black')
                        .attr('class', 'where');
                }
            ).on(
                'mouseout', function() {
                    infobox_dict({});
                    // d3.select(this)
                    //   .attr('opacity', '0');
                    d3.selectAll('line')
                      .remove();
                }
            );
        });
    });

    {% comment %}
      JSON input format:

      Lng x Lemma

      {'LT':
        [
          {
            freq: 2725,
            language:"LT",
            lemma:"SAY*/SAID",
            omitted:106,
            ratio_omitted: 0.038,
          },
          <...>
        ],
        <...>
      }
    {% endcomment %}
</script>
