{% extends "dral_wagtail/visualisation_page.html" %}

{% block visualisation %}
    <canvas width="2000" height="1000">
        
    </canvas>
{% endblock %}

{% block footer_scripts %}
    {{ block.super }}
    
    <script>
    
    $(function() {
        elastic_element($('#visualisation canvas'), draw, 100, 15);
        
        window.vis_data = {{vis_data|safe}};
        
        function draw() {
            var $canvas = $('#visualisation canvas');
            var ctx = $canvas[0].getContext("2d");
            var w = $canvas.prop('width');
            var h = $canvas.prop('height');
            
            ctx.fillStyle = "#FFFFFF";
            ctx.clearRect(0,0,w,h);
            
            graphs_count = 3;
            graph_height = 1.0 * h / graphs_count;
            
            var graph_i = 0;
            
            ctx.font="30px Georgia";
            
            $.each(window.vis_data, function(lang, rows) {
                var y = graph_height * (graph_i + 1);
                ctx.fillStyle = "#404040";
                ctx.fillText(lang, 10, y - graph_height + 30);
                $.each(rows, function(i, row) {
                    var bar_size = row.ratio_omitted * graph_height;
                    var x = Math.round((1.0 * i / rows.length) * w);
                    ctx.fillRect(x, y, 1, -bar_size);
                });
                graph_i += 1;
            });
        }
        
        draw();
    });
    </script>
{% endblock %}
