{% extends "dral_wagtail/visualisation_page.html" %}

{% block visualisation %}
    <div class="svg-viz">
        <h3>LT</h3>
        <svg class="chart LT">
        </svg>
        <h3>RU</h3>
        <svg class="chart RU">
        </svg>
        <h3>POL</h3>
        <svg class="chart POL">
        </svg>
    </div>

{% endblock %}

{% block footer_scripts %}
    {{ block.super }}

    {# D3Js Library - Link to ext file for now #}
    <script src="https://d3js.org/d3.v5.min.js"></script>

    <script>
        $(function() {
            
            window.vis_data = {{ vis_data|safe }};
            console.log(vis_data);

            $.each(window.vis_data, function(lang, data) {
                console.log(this);

                var width = 0;
                var graph = d3.select('.chart.' + lang)
                    .append('g')
                    .attr('class', lang);

                console.log(this.length);

                var width_increment = 100 / this.length;

                $.each(data, function(i, d) {
                    var height = d.ratio_omitted * 100;

                    if (d.ratio_omitted == 1) {

                    var rectangles = d3.select('g.' + lang)
                        .append('rect')
                        .attr('class', 'bar omitted')
                        .attr('height', height + '%')
                        .attr('width', width_increment + '%')
                        .attr('x', width + '%')
                        // To display aligned at the bottom:
                        // .attr('y', 500 - height)
                        .text(d.ratio_omitted);

                        width += width_increment;    
                    } else {

                        var rectangles = d3.select('g.' + lang)
                            .append('rect')
                            .attr('class', 'bar')
                            .attr('height', height + '%')
                            .attr('width', width_increment + '%')
                            .attr('x', width + '%')
                            // To display aligned at the bottom:
                            // .attr('y', 500 - height)
                            .text(d.ratio_omitted);

                            width += width_increment;
                    }
                });
            });
        });
    </script>
{% endblock %}