{% load dral_wagtail_tags %}

<div class="viz-introduction">
  {{ viz.short_description_html|safe }}
</div>

{% if link_to_all_words %}
    <a href="{{link_to_all_words}}">See all words</a>
{% else %}
    {% if vis_data.chapters.1 %}
        <p>
            Jump to:
            {% for chapter in vis_data.chapters %}
                <a href="#{{chapter.name|slugify}}">{{ chapter.name }}</a>
            {% endfor %}
        </p>
    {% endif %}
{% endif %}

{% for chapter in vis_data.chapters %}
    <h2 id="{{chapter.name|slugify}}">{{ chapter.name }}</h2>
    {% if not chapter.blocks %}
        <p>No record of this word in this chapter</p>
    {% else %}
        <table class="viz-proof">
            {% for block in chapter.blocks %}
                <tr class="keyword">
                    <td colspan="10">{{block.keyword.string}} ({{block.keyword.forms}}) ({{ block.freq }})</td>
                </tr>
                {% for row in block.texts %}
                    <tr class="lang-row lang-row-{{row.name}}">
                        <td class="lang">{{row.name}}</td>
                        <td class="lang">{% if row.omissions %}Z {{row.omissions}}{% endif %}</td>
                        <td class="lang {% if row.unknowns %}string-unknown{% endif %}">{% if row.unknowns %}? {{row.unknowns}}{% endif %}</td>
                        {% for string in row.strings %}
                            <td class="st {% if string.string is None %}string-none{% endif %} {% if string.string.0 == '?' %}string-unknown{% endif %}">{{ string.string|default:"ZERO" }}{% if string.context and string.context|length < string.cell|length %} [context truncated]{% endif %}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                <tr class="sidxs">
                    <td></td><td></td><td></td>
                    {% for idx in block.sidxs %}
                        <td>{{ idx|default:"?" }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    {% endif %}
{% endfor %}
