{% load dral_wagtail_tags %}

{% verbatim %}
  <div class="svg-viz">
  </div>

  <div class="template viz-calendar">
      <h3>{{language}}</h3>
      <svg class="calendar variants {{language}}" data-language="{{language}}">
        <g></g>
        <!--   rect class="overlay" width="100%" height="100%"></rect -->
      </svg>
  </div>
{% endverbatim %}

<script>
    $(function() {
        
        window.vis_data = {{ vis_data|json }};
        // console.log(vis_data);

        $viz = $('.svg-viz');

        $.each(window.vis_data, function(lang, data) {
            // console.log(this);
            $viz.append(apply_template(
                'viz-calendar',
                {'language': lang}
            ));
            var $svg_group = $viz.find('g:last');
            var svg_group = d3.select($svg_group[0]);
            var $svg = $svg_group.parent();

            // console.log(this.length);

            var x = 0;
            var y = 0;
            var w = 1.0;
            var sw = 15;
            var sh = 15;
            var h = sh;
            var total_width = $svg.width();
            var squares_per_row = Math.floor(1.0 * total_width / w) - 5;
            // var squares_per_row = Math.floor(100.0 / w) - 5;
            // var squares_per_row = Math.floor(100.0 / w);
            // var squares_per_row = Math.floor(total_width / w);
            
            console.log(w);
            console.log(total_width);
            console.log(squares_per_row);
            
            var sidx_last = 0;
            var diff;

            $.each(data.words, function(i, d) {
                diff = d.sidx - sidx_last;
                
                if (diff < 0) {
                    svg_group.append('rect')
                        .attr('class', 'new-chapter')
                        .attr('height', '2px')
                        .attr('width', '100%')
                        .attr('x', 0)
                        .attr('y', y + h * 1.5);
                    x = 0;
                    y += h * 2;
                } else {
                    x += diff * w;
                    y += Math.floor(1.0 * x / squares_per_row) * h;
                    x = (x % squares_per_row) * w;
                }
                
                var class_omitted = d.omitted ? 'omitted' : '';
                var grp = d.ch+'-'+d.grp;
                
                var rectangles = svg_group
                  .append('rect')
                  .attr('class', 'square ' + class_omitted)
                  .attr('height', ''+sh+'px')
                  .attr('width', ''+sw+'px')
                  .attr('x', x)
                  .attr('y', y)
                  .attr('data-idx', i)
                  .attr('data-lng', lang)
                  .attr('data-grp', grp)
                  // To display aligned at the bottom:
                  // .attr('y', 500 - height)
                  .attr('fill-opacity', d.omitted ? 1 : 0.5 + 0.5 * (data.variants[grp].color))
                  .text(d.word);

                  // x += w;
                  // counter++;

                x += sw;
                /*
                if (x+w > $svg.width()) {
                  y += 20;
                  counter = 0;
                  x = 0;
                }
                */
                
                sidx_last = d.sidx;
            });

           $svg.height(y);
        });
        
        // mouseover 
        // TODO: review performances...
        // We don't attach an event to every bar:
        // a) that would be prohibitive
        // b) user couldn't select lemma without omissions (0-height bar)
        // See https://bl.ocks.org/mbostock/3902569
        d3.selectAll('rect').on('mouseenter', function() {
            // TODO: better way to get the index from mouse coord
            var square = d3.select(this)
            infobox_dict(window.vis_data[square.attr('data-lng')].words[square.attr('data-idx')]);
            $('[data-grp='+square.attr('data-grp')+']').addClass('highlighted');
            
        }).on('mouseout',
            function() {
                $('.highlighted').removeClass('highlighted');
                infobox();
            }
        );
    });
</script>
