{% extends "base.html" %}
{% load wagtailcore_tags dral_wagtail_tags %}

{% block main %}

    <h2>Featured</h2>
    <ul>
      {% for viz in visualisations %}
        {% if viz.type == 'featured' %}
          <li><a href="?viz={{ viz.key }}">{{ viz.name }}</a></li>
        {% endif %}
      {% endfor %}
    </ul>

    <h2>Exploratory</h2>
    <ul>
      {% for viz in visualisations %}
        {% if viz.type == 'exploratory' %}
          <li><a href="?viz={{ viz.key }}">{{ viz.name }}</a></li>
        {% endif %}
      {% endfor %}
    </ul>

{% endblock %}
