/** Your custom scss here **/

body > header {
    h1, nav {
        display: inline-block;
    }
    
    h1, h2 {
        margin: 0.3rem;
    }
}

#visualisation {
    canvas {
        border: 1px solid red;
        width: 100%;
    }
}