/** Your custom scss here **/

$primary-color: #658f73;

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 0;
}

a {
  color: $primary-color;
  text-decoration: none;

  &:hover {
    color: darken($primary-color, 20%);
    text-decoration: underline;
  }
}

button,
.button {
  background-color: $primary-color;
  border: 0;
  color: white;
  cursor: pointer;
  font-size: 16px;
  padding: 8px 16px;

  &:hover {
    background-color: darken($primary-color, 10%);
  }
}

footer,
header,
main {
  padding: 10px 20px;
}

header {
  display: block;

  h1,
  nav {
    margin: 0;

    a {
      display: block;
      padding: 10px;
    }
  }
}

nav {
  .menu {
    display: block;
    margin: 0;
    overflow: hidden;
    padding-left: 0;

    li {
      background: $primary-color;
      color: white;
      display: inline-block;
      float: left;
      list-style: none;
      border-right: 1px solid white;

      a {
        color: white;

        &:hover {
          ackground: darken($primary-color, 20%);
        }
      }
    }
  }
}

h2 {
  clear: both;
  margin: 0;
  padding: 10px;
}

/* VISUALISATIONS */

#visualisation {
  canvas {
    background: #e8e8e8;
    padding: calc(20px);
    width: 100%;
  }
}

/* SVG */
.relative-omission {
  height: 80vh;
  position: relative;
  // width: 100%;
  width: 10000px;

  h3 {
    color: $primary-color;
    margin-bottom: 0;
    position: fixed;
  }

  .chart {
    border-top: 1px solid $primary-color;
    // box-shadow: inset 0 0 0 2px white;
    height: 20vh; // Dynamic height
    margin-top: 35px;
    width: 100%;
  }

  .bar,
  .bar rect {
    fill: $primary-color;
    stroke: white;
    stroke-width: 1px;
  }

  .bar text {
    fill: #fff;
    font: 10px sans-serif;
  }
}

.relative-omission-gn {
  &.fit-width .chart {
    width: 100%;
  }

  .chart-wrapper {
    display: block;
    position: relative;
    width: 100%;
    height: 30vh;
    // padding-bottom: 100%;
    // vertical-align: top;
    // overflow: hidden;

    .chart {
      // border-top: 1px solid $primary-color;
      // box-shadow: inset 0 0 0 2px white;
      //// height: 20vh; // Dynamic height
      // margin-top: 35px;
      // width: 100%;
      // display: inline-block;
      // position: absolute;
      // top: 0;
      // left: 0;
      height: 100%;
      display: block;
      position: relative;
      
      .bar{
        fill: $primary-color;
        stroke: white;
        //// stroke-width: 1px;
        stroke-width: 0;
      }
    
      .bar text {
        fill: #fff;
        font: 10px sans-serif;
      }
    }
  
  }
}

.calendar {
  height: 500px;
  width: 100%;
}

.variants {
  .omitted {
    fill: #ff8080 !important;
  }
}

new-chapter {
    fill: brown;

}

.omitted {
  fill: purple !important;
}
.error {
  fill: red !important;
}

.square {
  fill: green;
  stroke: white;
}


// GN: july 2018

#infobox div {
    /* display: none; */
    background-color: rgba(255,255,255,0.8);
    border: 2px solid grey;
    padding: 0.5em;
    margin: 1rem;
    position: fixed;
    top: 0;
    left: 0;
}

.template {
    display: none;
}

.overlay {
    opacity: 0;

    &.showme {
      opacity: 0.3;
    }
}

.square:hover {
    stroke: grey;
}

// ------
// Viz Settings overlay 

.option-selected {
    background: #f0f0e0;
}

#settings {
    /* make the settings body div scrollable */
    flex-direction: column;
    height: 90vh;

    position: fixed;
    left: 5vw;
    top: 2em;
    width: 90vw;
    z-index: 10000;

    display: none;

    &.settings-visible {
        display: block;
    }

    background-color: white;
    border: 1px solid grey;
    box-shadow: .5em .5em .4em #202020;
    padding: 0;
}

#settings > div {
    padding: .5em;
}

body {

    &.settings-visible {
        /* html body no longer scrollable when settings model is open*/
        overflow: hidden;

        #settings {
            display: flex;
        }
    }
}

.settings-body {
    /* make the settings body div scrollable */
    flex-grow: 1;
    overflow-y: auto;

    input[type=checkbox],
    input[type=radio] {
        margin-bottom: 0;
        margin-left: 0.3em;
        margin-right: 0.1em;
    }

    label {
        line-height: 1em;
        margin: 2px;
        padding: 0.3em;

        &:hover {
            background: #e0e0d0;
        }
    }

    label,
    li {
        /* inline-block to prevent line break between checkboxk and label text */
        display: inline-block;
    }

    ul {
        margin-left: 0;
    }

    .var-actions {
        font-size: small;

        a {
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.settings-head {
    background-color: #1c2434;
    color: white;

    h3 {
        display: inline;
    }

    .toggle-settings {
        float: right;
    }
}

.setting-input {
    margin-left: 40px;
}

.highlighted {
    fill: orange;
}

// GN: import page

p.error-message {
    background-color: pink;
    padding: 0.3rem;
    margin: 0.3rem;

    &:before {
        content: '\26A0';
        font-size: 1.5rem;
    }
}

.import-log {
    font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;
    font-size: small;

    .msg-table {
        font-weight: bold;
        border-top: 2px solid;
        padding-top: 0.3em;
    }

    .msg-warning {
        background-color: #ffc58c;
    }

}

.viz-proof {

    .lang-row-EN {
        background-color: #dce6f1;
    }

    tr.keyword {
        font-size: larger;
        font-weight: bold;
        background-color: #dce6f1;
    }

    .st {
        max-width: 6rem;
        overflow-x: hidden;
    }

    .string-none {
        background-color: #ffc000;
    }

    .string-unknown {
        background-color: red;
    }
}
