{% extends "base.html" %}
{% load wagtailcore_tags dral_wagtail_tags %}

{% block header %}
    <header>
        <a href="/">DRaL</a>
        &gt;
        <a href="/import/">Import</a>
        &gt;
        <span class="page-title">{{ page.title }}</span>
    </header>
{% endblock %}

{% block main %}

<form method="post" action="">
    {% csrf_token %}

    <p>
        Tick the dimensions
        you would like to completely remove from the database.
    </p>

    <h3>Texts</h3>
    {% for text in texts %}
        <label>
            <input type="checkbox" name="text-{{ text.pk }}" value="1" >
            {{ text.code }}
        </label>
    {% endfor %}

    <h3>Chapters</h3>
    {% for chapter in chapters %}
        <label>
            <input type="checkbox" name="ch-{{ chapter.pk }}" value="1" >
            {{ chapter.name }}
        </label>
    {% endfor %}

    <p>
        <button>Clean</button>
    </p>
</form>

{% endblock %}
